JFusion-drupal-plugin.bbprojectd/project.bbprojectdata
JFusion-drupal-plugin.bbprojectd/Wade.bbprojectsettings
JFusion-drupal-plugin.bbprojectd/Unix Worksheet.worksheet
JFusion-drupal-plugin.bbprojectd/Scratchpad.txt